body {
  background-color: white;
  text-align: center;
  font-family: helvetica;
}

footer {
  background-color: dimgray;
  text-align: left;
  color: white;
}

.flatironimg{
  background-image: url('../images/the-flatiron-building.png');
}
